[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/Yad/Yad-Forms/yad-ubuntu-browser-installer
Name=Ubuntu Browser Installer
Icon=/usr/bin/Yad/ubuntu.svg


