[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/Yad/Yad-Forms/yad-kde-virt-manager
Name=Virt Manager Utility
Icon=/usr/bin/Yad/virt-manager-s.svg
